<h1 class="text-center"><img style="width: 350px;" src="assets/logo.png" alt=""></h1>
<p class="text-center">
    <img src="assets/pok.png" alt="" *ngFor="let pokemon of pokemons" style="width:50px;" [title]="pokemon.name"></p>
<p class="text-muted text-center">Vous disposez de {{pokemons.length}} poke ball</p>
<section class="col-md-8 mx-auto">
    <div class="row">
        <div class="col-md-4 card" *ngFor="let pokemon of pokemons">
            <a [routerLink]="['detail',pokemon.id]">
                <img [src]="pokemon.picture" alt="">
                <div class="card-body">
                    <p> Nom: {{pokemon.name}}</p>
                    <p>Type: {{pokemon.type}}</p>
                    <p>Vie: {{pokemon.life}}</p>
                    <p>Id: {{pokemon.id}}</p>
                    <p>Capturé le: {{pokemon.created | date:"dd/MM/yyyy"}}</p>
                </div>
            </a>
        </div>
    </div>
</section>